# Virtual environment
.venv/
.env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Logs
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Build artifacts
dist/
build/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

resources/
tmp/
